In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
## Create a Sample DataFrame
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'green', 'red', 'blue']
})

In [7]:
df.head(6)

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [5]:
# Create instance of OneHotEncoder 
encoder = OneHotEncoder()

In [8]:
# Perform fit and transform
encoded = encoder.fit_transform(df[['color']]).toarray()

In [9]:
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [10]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [13]:
encoder.transform([['green']]).toarray()

c:\Users\adity\Desktop\Udemy ML DL\venv\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[0., 1., 0.]])

In [14]:
pd.concat([df, encoded_df], axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0