In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('19.1-healthcare.csv')
df.head()

          0         1
0  1.616671  1.944522
1  1.256461  1.609444
2 -2.343919  4.392961
3  1.195393  2.794485
4 -3.329586  5.303160