In [1]:
import sqlite3

In [2]:
## Connect to an SQLite database
connection = sqlite3.connect("test.db")
connection

In [3]:
cursor = connection.cursor()

In [ ]:
## Create a table
cursor.execute('''

    Create Table If Not Exists employees(

        id Integer Primary Key,
        name Text Not Null,
        age Integer,
        department text
    )

''')

## Commit the changes
connection.commit()

In [5]:
## Retrieve the data

cursor.execute('''

    Select * from employees

''')

In [6]:
# Insert the data in sqlite table

cursor.execute('''

    Insert Into employees (name, age, department) Values ('Adam', 21, 'Engineering')

''')

cursor.execute('''

    Insert Into employees (name, age, department) Values ('Bob', 24, 'Data Scientist')

''')

cursor.execute('''

    Insert Into employees (name, age, department) Values ('Charlie', 22, 'Finance')

''')

# Commit the changes
connection.commit()

In [8]:
## Query the data from the tables

cursor.execute('''

    Select * from employees

''')

rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Adam', 21, 'Engineering')
(2, 'Bob', 24, 'Data Scientist')
(3, 'Charlie', 22, 'Finance')

In [11]:
## Update data in the table
cursor.execute('''

    Update employees Set age = 23 Where name = 'Charlie'

''')

connection.commit()

In [10]:
## Query the data from the tables

cursor.execute('''

    Select * from employees

''')

rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Adam', 21, 'Engineering')
(2, 'Bob', 24, 'Data Scientist')
(3, 'Charlie', 23, 'Finance')

In [12]:
## Delete the data from the table
cursor.execute('''

    Delete from employees Where name = 'Bob'

''')

connection.commit()

In [13]:
## Query the data from the tables

cursor.execute('''

    Select * from employees

''')

rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Adam', 21, 'Engineering')
(3, 'Charlie', 23, 'Finance')