In [2]:
import sqlite3

In [4]:
## Working with Sales Data

# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''

    Create Table If Not Exists sales (
    
        id Integer Primary Key,
        date Text Not Null,
        product Text Not Null,
        sales Integer,
        region Text

    )

''')

In [6]:
# Insert data into the sales table

sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product3', 300, 'East'),
    ('2023-01-04', 'Product4', 400, 'West'),
]

cursor.executemany('''

    Insert into sales(date, product, sales, region) values(?, ?, ?, ?)

''', sales_data)

connection.commit()

In [7]:
## Query the data from the tables

cursor.execute('''

    Select * from sales

''')

rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product3', 300, 'East')
(4, '2023-01-04', 'Product4', 400, 'West')

In [8]:
# Close the connection
connection.close()

In [10]:
## Query the data from the tables

cursor.execute('''

    Select * from sales

''')

rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.