In [2]:
## Creating a tuple

empty_tuple = ()

print(empty_tuple)
type(empty_tuple)

()

tuple

In [3]:
lst = list()
print(type(lst))

tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [6]:
tpl = tuple("Hello")
print(tpl)
print(type(tpl))

('H', 'e', 'l', 'l', 'o')
<class 'tuple'>

In [7]:
numbers = tuple([1, 2, 3, 4, 5, 6])
numbers

(1, 2, 3, 4, 5, 6)

In [8]:
list((1, 2, 3, 4, 5, 6))

[1, 2, 3, 4, 5, 6]

In [9]:
num = (1)
type(num)

int

In [10]:
num = (1, )
type(num)

tuple

In [11]:
mixed_tuple = (1, "Hello", 3.14, True)
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [12]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [14]:
print(numbers[0])
print(numbers[-1])

1
6

In [16]:
print(numbers[0: 4])
print(numbers[: : -1])

(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

In [17]:
# Tuple Operations

concat_tup = numbers + mixed_tuple
concat_tup

(1, 2, 3, 4, 5, 6, 1, 'Hello', 3.14, True)

In [18]:
mixed_tuple * 3

(1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True)

In [19]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [2]:
# Immutable Nature of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst = [1, 2, 3, 4, 5]
print(lst)

lst[1] = 10
print(lst)

[1, 2, 3, 4, 5]
[1, 10, 3, 4, 5]

In [ ]:
numbers = (1, 3, 5, 7, 9, 11)
numbers[1] = 12                     #'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [11]:
## Tuple Method
print(numbers.count(3))
print(numbers.index(7))

1
3