In [ ]:
#Variable - case sensitive

name = "Aditya"
Name = "aditya"

print(name)
print(Name)

Aditya
aditya

In [3]:
# indentation - a tab or 4 space

age = 32

if age>18:
    print("Can Vote")

print(age)

Can Vote
32

In [4]:
# Comments - This is a single line comment
print("Hello World")

Hello World

In [ ]:
# line Continuation - We can continue a statement at next line using backslash(\)

total = 1+2+3+\
4+5

print(total)

15

In [7]:
# Multiple statement on a single line - We can write multiple statement at same line using semicolon(;)

fname="Aditya";lname="Kumar"
print(fname+" "+lname)

Aditya Kumar

In [ ]:
# Understanding Semantics in python

#Variable assignment
age = 19    # age is integer
name="Krish" # name is string

type(age)    # we can find the type of variable using type() function

int

In [11]:
# Type Inference
variable = 10
print(type(variable))
variable="Ten"
print(type(variable))

<class 'int'>
<class 'str'>

In [ ]:
# indentation error
age = 32
if age>18:      # IndentationError: expected an indented block after 'if' statement on line 3
print("Can vote")

IndentationError: expected an indented block after 'if' statement on line 3 (1555099867.py, line 4)

In [ ]:
# Name error
a=b             #NameError: name 'b' is not defined
a

NameError: name 'b' is not defined