In [1]:
a = 100
a

100

In [2]:
## declaring and asignig the variable
age = 19
height = 5.7
name = "Aditya"
is_student = True

# Printing the variable

print("age: ", age)
print("height: ", height)
print("name: ", name)

age:  19
height:  5.7
name:  Aditya

In [3]:
# Naming convention
    
# Varaible names should be descriptive
# They must start with a letter or an '_' and contains letters, numbers and underscores
# variable names are case sensitive

# valid variable name

first_name = "Aditya"
last_name = "Naik"

In [ ]:
# Invalid variable name

# 2age = 19   #SyntaxError: invalid decimal literal
# first-name = "Aditya" #SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='?
# @name="Aditya" #SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='?

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1590821001.py, line 5)

In [9]:
# Case sensitivity
name = "Aditya"
Name = "kumar"

name==Name

False

In [10]:
# Understanding variable types

# Python is dynamically typed - Type  of a variable is determined at runtime
age = 25 #int
height = 5.9 # float
name = "Aditya" # str
is_student = True # bool

type(is_student)

bool

In [ ]:
# Type conversion
age = 25
print(type(age))

age_str = str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

type

In [17]:
age='25'
print(type(age))

int_age=int(age)
print(type(int_age))

<class 'str'>
<class 'int'>

In [ ]:
name = "Aditya"
int(name)           #ValueError: invalid literal for int() with base 10: 'Aditya'

ValueError: invalid literal for int() with base 10: 'Aditya'

In [19]:
height=6.11
print(type(height))

int_height=int(height)
print(int_height)
print(type(int_height))

<class 'float'>
6
<class 'int'>