In [1]:
def square(x):
    return x*x

square(5)

25

In [2]:
numbers = [1, 4, 3, 6, 9]

list(map(square, numbers))

[1, 16, 9, 36, 81]

In [4]:
## lambda function with map
numbers = [1, 3, 2, 5, 9, 10]
list(map(lambda x: x*x, numbers))

[1, 9, 4, 25, 81, 100]

In [6]:
# Map multiple iterable

numbers1 = [1, 3, 5]
numbers2 = [2, 4, 6]

added_numbers = list(map(lambda x, y: x+y, numbers1, numbers2))
added_numbers

[3, 7, 11]

In [7]:
# String to integer
str_numbers = ['1', '2', '3', '4']
int_numbers = list(map(int, str_numbers))
int_numbers

[1, 2, 3, 4]

In [8]:
words = ['apple', 'banana', 'cherry']
upper_words = list(map(str.upper, words))
upper_words

['APPLE', 'BANANA', 'CHERRY']

In [10]:
def get_name(person):
    return person['name']

people = [
    {'name': "Adam", 'age': 23},
    {'name': "Bob", 'age': 21},
    {'name': "Charlie", 'age': 22},
]

list(map(get_name, people))

['Adam', 'Bob', 'Charlie']