In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
### Load the dataset
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
### Preprocess the data
# Drop unnecessary columns
data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
### Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
### One-hot encode the 'Geography' column
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
geography_encoded = ohe.fit_transform(data[['Geography']]).toarray()
geography_encoded_df = pd.DataFrame(geography_encoded, columns=ohe.get_feature_names_out(['Geography']))

data = pd.concat([data, geography_encoded_df], axis=1)
data.drop(['Geography'], axis=1, inplace=True)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [7]:
### Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
### Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
### Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
### Save the encoders and scaler 
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('ohe.pkl', 'wb') as file:
    pickle.dump(ohe, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### Train the ANN Regression

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
model = Sequential(
    [
        Dense(64, activation='relu', input_shape=(X_train.shape[1],)),  
        Dense(32, activation='relu'),
        Dense(1)  ## Output layer for ANN
    ]
)

WARNING:tensorflow:From c:\Users\adity\Desktop\Udemy ML DL\dl-venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [14]:
### Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

WARNING:tensorflow:From c:\Users\adity\Desktop\Udemy ML DL\dl-venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
import datetime
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [18]:
### Set up TensorBoard logging
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [19]:
### Setup early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [20]:
### Train the model
model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\adity\Desktop\Udemy ML DL\dl-venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\adity\Desktop\Udemy ML DL\dl-venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 6ms/step - loss: 100376.1406 - mae: 100376.1406 - val_loss: 98512.4688 - val_mae: 98512.4688
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99620.2656 - mae: 99620.2656 - val_loss: 96980.0469 - val_mae: 96980.0469
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 96940.4375 - mae: 96940.4375 - val_loss: 93035.6641 - val_mae: 93035.6641
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 91657.5781 - mae: 91657.5781 - val_loss: 86456.2656 - val_mae: 86456.2656
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 83928.8672 - mae: 83928.8672 - val_loss: 77993.6328 - val_mae: 77993.6328
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 74927.4922 - mae: 74927.4922 - val_loss: 69143.7500 - val_mae: 69143.7500
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 66157.2188 - mae: 66157.2188 - val_loss: 61365.6367 - val_mae: 61365.6367
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 59119.9414 - mae: 59119.9414 - val_loss: 55791.3633 - val_mae: 55791.3633
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 54484.3320 - mae: 54484.3320 - val_loss: 52588.6328 - val_mae: 52588.6328
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 52000.0156 - mae: 52000.0156 - val_loss: 51169.0117 - val_mae: 51169.0117
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 50892.0273 - mae: 50892.0273 - val_loss: 50691.9375 - val_mae: 50691.9375
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50474.5391 - mae: 50474.5391 - val_loss: 50561.7578 - val_mae: 50561.7578
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50302.4102 - mae: 50302.4102 - val_loss: 50509.4023 - val_mae: 50509.4023
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50219.8164 - mae: 50219.8164 - val_loss: 50477.1484 - val_mae: 50477.1484
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50153.1328 - mae: 50153.1328 - val_loss: 50447.9922 - val_mae: 50447.9922
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50104.3203 - mae: 50104.3203 - val_loss: 50420.0391 - val_mae: 50420.0391
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 50061.5469 - mae: 50061.5469 - val_loss: 50387.9883 - val_mae: 50387.9883
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50019.8750 - mae: 50019.8750 - val_loss: 50369.3086 - val_mae: 50369.3086
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 49986.4062 - mae: 49986.4062 - val_loss: 50345.1328 - val_mae: 50345.1328
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49957.7773 - mae: 49957.7773 - val_loss: 50325.7461 - val_mae: 50325.7461
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 49929.0352 - mae: 49929.0352 - val_loss: 50314.0977 - val_mae: 50314.0977
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49901.2695 - mae: 49901.2695 - val_loss: 50300.8555 - val_mae: 50300.8555
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49878.0312 - mae: 49878.0312 - val_loss: 50282.3789 - val_mae: 50282.3789
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49857.5508 - mae: 49857.5508 - val_loss: 50278.4492 - val_mae: 50278.4492
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49834.7422 - mae: 49834.7422 - val_loss: 50274.2930 - val_mae: 50274.2930
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49811.5078 - mae: 49811.5078 - val_loss: 50256.4883 - val_mae: 50256.4883
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49793.5391 - mae: 49793.5391 - val_loss: 50241.7266 - val_mae: 50241.7266
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49775.8047 - mae: 49775.8047 - val_loss: 50235.8203 - val_mae: 50235.8203
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49758.0547 - mae: 49758.0547 - val_loss: 50233.8516 - val_mae: 50233.8516
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49742.8320 - mae: 49742.8320 - val_loss: 50229.0000 - val_mae: 50229.0000
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49725.9844 - mae: 49725.9844 - val_loss: 50224.9727 - val_mae: 50224.9727
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49712.6328 - mae: 49712.6328 - val_loss: 50215.0156 - val_mae: 50215.0156
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49694.3398 - mae: 49694.3398 - val_loss: 50212.9102 - val_mae: 50212.9102
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49683.7461 - mae: 49683.7461 - val_loss: 50207.0156 - val_mae: 50207.0156
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49671.5234 - mae: 49671.5234 - val_loss: 50214.6367 - val_mae: 50214.6367
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49660.3828 - mae: 49660.3828 - val_loss: 50218.3438 - val_mae: 50218.3438
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 49647.0156 - mae: 49647.0156 - val_loss: 50205.1055 - val_mae: 50205.1055
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49635.5547 - mae: 49635.5547 - val_loss: 50211.2188 - val_mae: 50211.2188
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49621.8477 - mae: 49621.8477 - val_loss: 50198.0508 - val_mae: 50198.0508
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49615.6719 - mae: 49615.6719 - val_loss: 50196.7305 - val_mae: 50196.7305
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49601.4688 - mae: 49601.4688 - val_loss: 50205.9570 - val_mae: 50205.9570
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49590.7773 - mae: 49590.7773 - val_loss: 50211.0195 - val_mae: 50211.0195
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49582.5859 - mae: 49582.5859 - val_loss: 50210.2344 - val_mae: 50210.2344
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49572.5156 - mae: 49572.5156 - val_loss: 50202.8047 - val_mae: 50202.8047
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49562.4336 - mae: 49562.4336 - val_loss: 50214.3594 - val_mae: 50214.3594
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49556.8359 - mae: 49556.8359 - val_loss: 50217.1016 - val_mae: 50217.1016
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 49545.3672 - mae: 49545.3672 - val_loss: 50208.1328 - val_mae: 50208.1328
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49538.8633 - mae: 49538.8633 - val_loss: 50218.2852 - val_mae: 50218.2852
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 49531.9453 - mae: 49531.9453 - val_loss: 50212.4531 - val_mae: 50212.4531
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 49524.1875 - mae: 49524.1875 - val_loss: 50210.3750 - val_mae: 50210.3750

In [24]:
### Loading the tensorboard
%load_ext tensorboard

%tensorboard --logdir logs/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 7180), started 0:00:12 ago. (Use '!kill 7180' to kill it.)